@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  font-family: roboto;
  margin: 0;
}
article,
h1 {
  margin: 20px;
}
header {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: lightgreen;
  justify-content: space-between;
}
header div {
  margin-right: 30px;
}
a {
  font-size: 20px;
  font-weight: 600;
  background-color: lightblue;
  padding: 15px;
  margin-left: 20px;
  border: 2px solid black;
}
table {
  border-collapse: collapse;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 3px solid lightgray;
  width: 300px;
  padding: 20px;
}
form button {
  width: 100px;
}
th,
td {
  border: 2px solid black;
  width: 200px;
  height: 50px;
  text-align: center;
}
tr td:nth-of-type(1),
tr th:nth-of-type(1),
tr td:nth-of-type(3),
tr th:nth-of-type(3),
tr td:nth-of-type(8),
tr th:nth-of-type(8) {
  width: 100px;
}
th {
  background-color: lightblue;
}

.table-container {
  width: 1000px;
  position: relative;
}
.input-container {
  margin: 50px 5px;
  font-size: 20px;
  height: 50px;
  display: flex;
  align-items: center;
}
.table-inputs div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 460px;
}

#pet-type-container {
  display: flex;
  flex-direction: column;
}
#pet-type-container div {
  width: 100px;
  display: flex;
  justify-content: space-between;
}
button {
  width: 80px;
  height: 30px;
  margin: 5px;
}

input {
  margin: 0px 10px;
  width: 250px;
  font-size: 16px;
  height: 25px;
}
select {
  height: 150px;
}
.pet-checkbox-inputs {
  width: auto;
  height: auto;
}
label {
  margin-bottom: 5px;
}

select option {
  font-size: 14px;
}
#create-user-btn {
  align-self: center;
}
#reset-button {
  position: absolute;
  right: 0;
  height: 50px;
  width: 100px;
  font-size: 18px;
  margin: 20px;
}
